* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

img{
    width: 100%;
}

.button{
    border-radius: 20px;
    padding: 13px;
    background-color: white;
    font-size: 14px;
    color: black;
}

.button-black{
    border-radius: 20px;
    padding: 13px;
    background-color: black;
    font-size: 14px;
    color: white;
}

.button-cta{
    border-radius: 20px;
    padding: 13px;
    background-color: #7289da;
    font-size: 14px;
    color: white;
}

/* header */

header{
    background-color: #255ee9;
}

.logo img{
    width: 130px;
}

.header-first{
    padding: 10px;
}

.head-content{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

nav ul{
    text-align: center;
}

nav li{
    display: inline-block;
    list-style: none;
}

li a{
    text-decoration: none;
    display: inline-block;
    padding: 15px 15px 15px 6px;
    font-size: 18px;
    color: white;
}

.logo{
    padding: 6px;
}

.login{
    padding: 6px;
}

.login a{
    text-decoration: none;
    color: black;
}

.first-sec{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 0;
}

.first-sec-content{
    width: 500px;
    margin: 60px auto 0 auto;
    color: white;
    text-align: center;
}

.first-sec-content h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.first-sec-content p{
    line-height: 30px;
}

.first-sec-content-buttons div{
    display: inline-block;
}

.first-sec-content-buttons{
    margin-top: 20px;
}

.first-sec-content-buttons .button-black{
    margin-left: 10px;
}

/* main */

.second-sec{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px 0;
}

main h2{
    font-size: 40px;
    margin-top: 30px;
}

main p{
    line-height: 30px;
    margin-top: 20px;
}
.col-l{
    flex-basis: 50%;
}
.col-r{
    flex-basis: 30%;
}

.third-sec{
    background-color: #f6f6f6;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 40px 0;
}

.fourth-sec{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px 0;
}

.fifth-sec{
    background-color: #f6f6f6;
    padding: 40px 0;
}

.fifth-sec-content{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.fifth-sec-contet-text{
    width: 85%;
    margin: 0 auto;
}

.cta{
    font-size: 25px;
    font-weight: bold;
    background-image: url(../img/stars.svg);
    display: inline-block;
    padding: 20px;
    width: 500px;
}

.fifth-sec-content-button{
    width: 15%;
    margin: 20px auto;
}

.fifth-sec-content-button a{
    text-decoration: none;
}

/* footer */

footer{
    background-color: #23272a;
}

.footer-first{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    padding: 70px 0 40px 0;
}

.footer-l{
    width: 30%;
    color: white;
}

.footer-l img{
    width: 20px;
}

.footer-l h1{
    color: #7289da;
    font-size: 25px;
    margin-bottom: 10px;
}

.footer-l i{
    margin: 10px 10px 0 0;
}

span{
    font-size: 12px;
}

.footer-r{
    width: 70%;
    display: flex;
}

.flex-basis{
    flex-basis: 25%;
}

.flex-basis li{
    margin-bottom: 20px;
    font-size: 14px;
}

.flex-basis ul{
    list-style: none;
}

.flex-basis a{
    color: white;
    text-decoration: none;
}

.violet{
    color: #7289da;
    font-weight: bold;
}

.footer-second{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer-content{
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #7289da;
}

.footer-content div{
    padding: 3px;
}

.last-button{
    border-radius: 20px;
    padding: 20px;
    background-color: #7289da;
    font-size: 12px;
    color: white;
    line-height: 30px;
    width: 80px;
    text-align: center;
}

.sign-up a{
    text-decoration: none;
}

/* bonus */
.wave{
    margin-bottom: -4px;
}
.wave img{
    opacity: 0.04;
}

.wave-rotated{
    margin-bottom: -4px;
}
.wave-rotated img{
    opacity: 0.04;
    transform: rotate(180deg);
}

li a:hover{
    text-decoration: underline;
}

ul a:hover{
    text-decoration: underline;
}

.login .button:hover{
    color: #255ee9;
    box-shadow: 0px 10px rgba(0, 0, 0, 0.1);
}

.first-sec-content-buttons .button:hover{
    color: #255ee9;
    box-shadow: 0px 10px rgba(0, 0, 0, 0.1);
}

.first-sec-content-buttons .button-black:hover{
    box-shadow: 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #23272a;
}

.button-cta:hover, .last-button:hover{
    box-shadow: 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #8b9fe7;
}







